.loader {
    margin: 20px auto;
    border: 6px solid #e0e0e0;
    border-top: 6px solid #6ba90c;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  